html{
	overflow-x: hidden;
	overflow-y: scroll;
}
*{
	box-sizing: border-box;
	margin:0px;
	padding: 0px;
}

a:hover{
	color: lightblue;
}

body{
	background-color: #EBE8E1;
	
}

label{
	display: block;
}
.page{
	margin-top: 15px;
	
	background: white;
	display: grid;
	grid-template-columns: repeat(6 auto);
	grid-template-rows: auto;
	grid-template-areas: 
		". . hd hd . ."
		". . hd hd . ."
		". . mn mn . ."
		". . mn mn . ."
		". . mn mn . ."
		". . ft ft . ."
		". . ft ft . .";
}

/*CSS for Header section of website*/

header{
	grid-area:hd;
	margin: 0px 300px 0px 300px;

}

.navlist {
	margin-top: 30px;
	display: flex;
	flex-direction: row;
	list-style: none;
	justify-content: space-between;
}

.search{
	margin: 10px 0px 5px 1050px;
	position: absolute;
	top:-8px;


}

input[type=text]{
	background-color: #E5E0CF;
	color:black;
}
.hero_ban{
	margin-top: 50px;
	background-color: #AACAB3;
	height: 490px;
	width:auto;
	display: flex;

}

.under_ban{
	height: 100px;
	background-color: #EBE8E1;
	margin-bottom: 150px;
	
}
#blurb{
	text-align: center;
	padding-top: 40px;

}

/*Left side of the banner*/
.left_sd{
	flex-basis: 70%;
	text-align:left;
	display: flex;

}

.book-cover{
	max-height: 350px;

	position: absolute;
	margin-top: 100px;
	margin-left: 100px;

	box-shadow: 5px 10px rgba(0,0,0,0.2);
}

.info_text{
	margin: 100px 0px 0px 370px;
	width:408px;
	position: absolute;
}

#Booktitle{
font-weight: bold;
font-size: 50px;
padding-bottom:;
}

#book_text{
	margin-top: 20px;
	font-size: 18px;
	line-height: 23px

}



#subtitle{
	
	color: white;
}

.right_sd{
	width: 30%;
	justify-content: space-between;
	background-color: #89B197;
	text-align:center;
	padding: 0px 40px 0px 40px;
}

#blurb_title{
	padding-bottom: 20px;
	border-bottom: solid 2px;
	margin-top: 50px;
}

#blurb_text{
	padding-top: 20px;
	padding-bottom: 20px;
	color:white;
	}


/*/*Main Website Section*/
main{
	grid-area: mn;
	margin: 0px 300px 0px 300px;
	display: flex;
	
}

.blog_space{
	flex-grow: 2;
	flex-basis: 70%
	
}

.sd_about{
	text-align: center;

}

.sidebar{
	flex-grow: 1;
	flex-basis: 30%;
}
.sticky{
	position: sticky;
	top: 0;
}


.sd_about{
	list-style: none;
}

.sidebar_img{
	margin-top: 20px;
	width: 350px;
	margin-bottom: 20px;
}

.sd_more{
	margin-top: 20px;
	margin-left: 50px;
}



.sd_links{
	list-style: none;


}

#side_links{
	background-color: #ECE9E2;
	font-size: 20px;
	border: solid white 2px;
	

}

#anchor{
	text-decoration: none;

}

#sd_icons{
	font-size: 20px;
	color: white;
	background-color:red;
	padding: 10px;
	margin: 0px 10px 0px 0px;
	
}

.mail_sign{
	margin-top: 40px;
}

#mail_text{
	text-align: center;
}

#mail_box{
	margin-top: 20px;
	height: 40px;
	width: 380px;
	font-size: 18px;
	text-align: left;
	border:#EDEAE3 solid 1px;
	text-indent: 20px;
}

#mail_box::placeholder{
	text-indent: 20px;
}

#mail_icon{
	color: black;
	font-size: 50px;
	margin-left: 4px;
	padding: 0px;
	position: relative;
	top:-75px;
	left:375px;
	

}




/*Blog CSS*/
.article_space{
	margin-right: 100px;
	margin-bottom: 30px
	
}
.bloghead{
	 display: flex;
	 justify-content: space-between;
}
#blog_title{
	font-size: 50px;
	font-weight: bold;
}

.blogthumb{
	max-width: 98%;
	margin-bottom: 10px;

}
span{
	margin-left: 10px;
}
.date{
	color: red;
}

#extract{
	margin-top: 10px;
	font-size: 1.2rem;
	line-height: 23px;
}

#keepread{
	margin-top: 20px;
}


/*Footer Section*/
footer{
	grid-area: ft;
	/*margin: 0px 300px 0px 300px;*/
	
}

.more_blog{
	height:700px;
	margin-top: 100px;
	background-color: #EBE8E1;
	

}

.card_box{
	display: flex;
	justify-content: space-around;
}



.title_ft{
	position: absolute;
	margin-top: 75px;
	margin-left: 850px;
	text-align: center;	
	
}

.blog_card{
	width: 370px;
	height: 400px;
	background-color: white;
	margin-top: 150px;
	/*padding: 10px;*/

}

#outer_Lcard{
	margin-left: 300px;
	margin-right: 30px;
	
}
#outer_Rcard{
	margin-right: 300px;
	margin-left:30px;
}

.mb_form{
	margin-top: 70px;
	margin-left: 730px;
}

#mblog_form{
	display: flex;

}

.blog_select select{
	padding: 10px;
}

.blog_select{
	margin-right: 10px;

	
}
#arc_btn{
	background: #88B198;
	padding: 10px;
	color: white;
	border-color: #88B198;
	border-style: none
}

#date{
	color: red;
	margin: 0px; 
}

#card_title{
	margin-top: 25px;
	margin-left: 10px;
}

#card_arrow{
	padding: 5px;
	background: #88B198;
	color: white;
	margin-right: 10px;
}

.sub_card{
	margin-top: 75px;
	display: flex;
	justify-content: space-between;
}

.date_post{
	margin-left: 10px;
}

#card_img{
	height: 200px;
	width: 370px;
}

.social_div{
	height: 80px;
	background-color: #F53145;
	


}

.social_list{
	list-style: none;
	display: flex;
	justify-content: space-around;
}

i{
	color: white;
	font-size: 20px;
	margin-top: 30px;
}

#licon{
	margin-left: 790px;
}

#ricon{
	margin-right: 790px;
}

.mn_footer{
	height: 300px;
}

.insta_title{
	font-style: italic;
	text-align: center;
	margin-top: 50px;
}

.insta_list{
	display: flex;
	justify-content: space-between;
	list-style: none;
	margin-top: 30px;
}

.insta_pic{
	height: 125px;
	width: 125px;
}

#inpic_L{
	margin-left: 200px;
}

#inpic_R{
	margin-right: 200px;

}

.Ft_navwrap{
	display: flex;
	justify-content: center;


}

.copyzone{
	font-style: italic;

}

.subnav_list{
	position: absolute;
}

.subnav{
	list-style: none;
	display: flex;
	justify-content: space-between;
	font-size: 13px;
	margin-top: 40px;

}
.subnav_aL{
	
	font-weight: bold;
	border-right: 1px solid;
	padding-right: 10px;
}

.subnav_a{
	font-weight: bold;
	margin-left: 10px;
	border-right: 1px solid;
	padding-right: 10px;
}

.subnav_aR{
	
	font-weight: bold;
	margin-left: 10px;
	padding-right: 10px;
}

.termsandcon{
	margin-top: 40px;
	font-size: 12px;
}

#terms{
	border-right: 1px solid;
	padding-right: 5px;
	margin-right: 2px;
}

.copyzone{
	margin-right: 960px;
	margin-top: 40px;
	font-size: 15px;

}